<main id="add_stock">
    <div class="container-fluid">
        <h1 class="mt-4">Add Stock</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Add Stock</li>
        </ol>
        <!--                    <div class="card mb-4">
                                <div class="card-body">
                                    DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                    .
                                </div>
                            </div>-->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Add Stock
            </div>
            <div class="card-body">
                <section style="width:50%">        
                <form action="<?php $_SERVER['PHP_SELF']; ?>" method = "POST" enctype="multipart/form-data">
                    <input type="text" style="width:100%" name="isbn_input" required="required" placeholder="Enter ISBN">
                    <input type="text" style="width:100%" name="name_input" required="required" placeholder="Enter book's name">
                    <input type="text" style="width:100%" name="author_input" required="required" placeholder="Enter author's name">
                    <input type="date" name="date_input" required="required">
                    <textarea style="width:100%" rows="10" cols="50" name="description_input">Enter product description here.</textarea>
                    <input type="file" name="image" accept="image/*">

                    <hr>
                    <p>Trade price slider</p>
                    <input type="range" name="trade_input" id="trade_id" min="1" max="100" value="10"><br>
                    <p>Trade price value: <span id="trade_value"></span></p>

                    <hr>
                    <p>Retail price slider</p>
                    <input type="range" name="retail_input" id="retail_id" min="1" max="100" value="1"><br>
                    <p>Retail price value: <span id="retail_value"></span></p>

                    <hr>
                    <p>Quantity slider</p>
                    <input type="range" name="quantity_input" id="quantity_id" min="1" max="100" value="1"><br>
                    <p>Quantity value: <span id="quantity_value"></span></p>

                    <hr>
                    <button type="submit" name="submit">Add product</button>

                </form>
                <script>
                    //trade price slider
                    var trade_slider = document.getElementById("trade_id");
                    var trade_output = document.getElementById("trade_value");
                    trade_output.innerHTML = trade_slider.trade_value;

                    trade_slider.oninput = function() {
                      trade_output.innerHTML = this.value;
                    }

                    //retail price slider
                    var retail_slider = document.getElementById("retail_id");
                    var retail_output = document.getElementById("retail_value");
                    retail_output.innerHTML = retail_slider.trade_value;

                    retail_slider.oninput = function() {
                      retail_output.innerHTML = this.value;
                    }

                    //quantity slider
                    var quantity_slider = document.getElementById("quantity_id");
                    var quantity_output = document.getElementById("quantity_value");
                    quantity_output.innerHTML = quantity_slider.trade_value;

                    quantity_slider.oninput = function() {
                      quantity_output.innerHTML = this.value;
                    }
                </script>
            </section>
            </div>
        </div>
    </div>
</main>

