<head>
    <!--    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
            <script type="text/javascript">
            (function() {
            emailjs.init("user_4cdanKIEKLEagVMM3TSVo");
            })();
            </script>-->
</head>    

<div class="container" style="margin-bottom: 50px;">
    <h2>Checkout Form</h2>
    <br>
    <div class="checkout row">
        <div class="checkout col-75">
            <div class="checkout container">
                <!--        modal-->
                <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Address</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="modalAddress" onsubmit="updateAddress(event)" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="container">
                                        <h5 class="mb-3">Enter Your New Address</h5>

                                        <input type="text" id="newAddressModal" name="newAddressModal">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" formmethod="post">Save</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <form>
                    <div class="checkout row">
                        <div class="checkout col-50">
                            <br>
                            <h3>Billing Address</h3>
                            <br>
                            <label for="fname"><i class="checkout fa fa-user"></i> Full Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Full Name" required>
                            <label for="email"><i class="checkout fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="Email" required>
                            <label for="adr"><i class="checkout fa fa-address-card-o"></i> Address</label>
                            <input type="text" id="adr" name="address" placeholder="Address" required>
                        </div>

                        <div class="checkout col-50">
                            <br>
                            <h3>Payment</h3>
                            <br>
                            <label for="fname">Accepted Cards</label>
                            <div class="cicon-container">
                                <i class="checkout fa fa-cc-visa" style="color:navy;"></i>
                                <i class="checkout fa fa-cc-amex" style="color:blue;"></i>
                                <i class="checkout fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="checkout fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <br>
                            <br>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="name" name="cardname" placeholder="disabled" disabled>
                            <label for="ccnum">Credit Card Number</label>
                            <input type="text" id="cnum" name="cardnumber" placeholder="disabled" disabled>
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="disabled" disabled>
                            <div class="checkout row">
                                <div class="checkout col-50">
                                    <label for="expyear">Exp Year</label>
                                    <input type="text" id="expyear" name="expyear" placeholder="disabled" disabled>
                                </div>
                                <div class="checkout col-50">
                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="disabled" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--only for temporary, original type is submit, checkout process not completed-->
                    <input type="button" value="Checkout" class="btn btn-primary" style="font-size: 17px; padding: 12px; margin: 10px 0; border: none; width: 100%;">
                </form>
            </div>
        </div>
        <div class="checkout col-25">
            <div class="checkout container">
                <br>
                <h4>Cart <span class="checkout price" style="color:black"><i class="checkout fa fa-shopping-cart"></i></span></h4>
                <br>
                <div id="checkoutbookdiv"><span class="checkout item" id="bookname">bookname</span><span class="checkout price" id="bookprice">bookprice</span></div>
                <hr>
                <p>Total <span class="checkout price" style="color:black"><b id="totalpriceincheckout">totalamount</b></span></p>
            </div>
        </div>
    </div>
</div>
<!--<footer class="py-2 bg-dark mt-auto fixed-bottom">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>-->
<!-- Local Script -->
<script type="text/javaScript" src="/302cem-group7-project/public/javascript/checkout_script.js"></script>
