<main id="history_page">
    <div class="container-fluid">
        <h1 class="mt-4">Order History</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Order History</li>
        </ol>

        <div style="padding-left:1%">
            <div class="row">
                <div id="history_display">

                </div>
            </div>
        </div>
    </div>
        <hr>
        <div class="row" style="padding-left: 20%">
            <table id="exampletable2" class="display">
                <thead>
                <tr>
                    <th>Month</th>
                    <th>Savings</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>January</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$80</td>
                </tr>
                </tbody>
            </table>
        </div>
</main>


<!-- Footer-->
<!--<footer class="py-2 bg-dark mt-auto fixed-bottom">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>-->
<!--Local Script-->
<script type="text/javaScript" src="/302cem-group7-project/public/javascript/history_script.js"></script>
