<main id="add_stock">
    <div class="container-fluid">
        <h1 class="mt-4">Order History</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Order History</li>
        </ol>

        <div class="bookDetail-body" style="padding-left:1%">
            <div class="row">
                <div id="stock_display">

                </div>
            </div>
                
        </div>


        <!-- Footer-->
        <!--<footer class="py-2 bg-dark mt-auto fixed-bottom">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>-->
        <!--Local Script-->
        <script type="text/javaScript" src="/302cem-group7-project/public/javascript/history_page.js"></script>