<main id="history_page">
    <div class="container-fluid">
        <h1 class="mt-4">Order History</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Order History</li>
        </ol>



        <div class="container-fluid">
            <div class="row d-flex justify-content-end">
                <button type="button" class="btn btn-primary" id="table-view" onClick="show_table()" style="margin-right:15px"><i class="fas fa-table me-2" style="margin-right:10px"></i>Table View</button>
                <button type="button" class="btn btn-primary" id="card-view" onClick="show_card()"><i class="far fa-window-maximize me-2" style="margin-right:10px"></i>Card View</button>
            </div>
            <div class="row mt-3 mb-5">
                <div class="spinner-border text-primary m-auto" role="status" id="history_spinner">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id="history_display">

                </div>
            </div>
        </div>
    </div>
    
</main>


<!-- Footer-->
<!--<footer class="py-2 bg-dark mt-auto fixed-bottom">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>-->
<!--Local Script-->
<script type="text/javaScript" src="/302cem-group7-project/public/javascript/history_script.js"></script>
