<style>
    body{margin-top:20px;
         background:#eee;
    }

    .invoice {
        padding: 30px;
    }

    .invoice h2 {
        margin-top: 0px;
        line-height: 0.8em;
    }

    .invoice .small {
        font-weight: 300;
    }

    .invoice hr {
        margin-top: 10px;
        border-color: #ddd;
    }

    .invoice .table tr.line {
        border-bottom: 1px solid #ccc;
    }

    .invoice .table td {
        border: none;
    }

    .invoice .identity {
        margin-top: 10px;
        font-size: 1.1em;
        font-weight: 300;
    }

    .invoice .identity strong {
        font-weight: 600;
    }


    .grid {
        position: relative;
        width: 100%;
        background: #fff;
        color: #666666;
        border-radius: 2px;
        margin-bottom: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
    <div class="row">
        <!-- BEGIN INVOICE -->
        <div class="col-xs-12">
            <div class="grid invoice">
                <div class="grid-body">
                    <div class="invoice-title">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Group 7 CEM Bookstore</h1>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Invoice<br>
                                    <span class="small">Order #1082</span></h2>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>Bill & Ship To:</strong><br>
                                Twitter, Inc.<br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <address>
                                <strong>Order Date & Time:</strong><br>
                                17/06/14
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>ORDER SUMMARY</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="line">
                                        <td><strong>#</strong></td>
                                        <td class="text-center"><strong>Detail</strong></td>
                                        <td class="text-right"><strong>Unit Price</strong></td>
                                        <td class="text-right"><strong>Subtotal Price</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>'.($x+1).'</td>
                                        <td><strong>'.$book_details[$x]->name.'</strong><br>'.$book_details[$x]->isbn.'</td>
                                        <td class="text-center">'.$book_details[$x]->quantity.'</td>
                                        <td class="text-center">RM'.$book_details[$x]->price.'</td>
                                        <td class="text-right">RM'.number_format(($book_details[$x]->price * $book_details[$x]->quantity), 2).'</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                        </td><td class="text-right"><strong>Total</strong></td>
                                        <td class="text-right"><strong>$2,400.00</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>									
                    </div>
                </div>
            </div>
        </div>
        <!-- END INVOICE -->
    </div>
</div>