<!--Navigation bar Bootstrap-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--General Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

<!--Sweet Alert-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--Local Script-->
<script type="text/javaScript" src="/302cem-group7-project/public/javascript/nav_bar_script.js"></script>
<script type="text/javaScript" src="/302cem-group7-project/public/javascript/sweet_alert_script.js"></script>

</body>
</html>
