<div class="spinner-border text-primary m-auto" role="status" id="stock_spinner">
    <span class="sr-only">Loading...</span>
</div>
<main id="stock" style='display: none'>
    <div class="container-fluid">
        <h1 class="mt-4">Stocks</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Stocks</li>
        </ol>
        <!--                    <div class="card mb-4">
                                <div class="card-body">
                                    DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                    .
                                </div>
                            </div>-->
        <div class="row mb-4">
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" id='stock_search_form'>
                <div class="input-group">
                    <input id="stock_search" name="stock_search" class="form-control" type="text" placeholder="Search for books..." aria-label="Search" aria-describedby="basic-addon2"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div id="stock_display" class="mb-5"></div>
<!--        beh sifan-->
<!--        <div id = "details">
            <div class  ="card">
                <div class=" row ">
                    <div class = "col-sm-6 border-right ">
                        <img class = "img-detail" id="details-img" style="height: 500px; width: 62%; border-radius: 2%"/>
                    </div>
                    <div class = "col-sm-6">
                        <div class="card-body">
                                <h1><span id="detail-name"></span></h1>
                                <div id="detail-author" style="margin-bottom: 30px"></div><br>
                                <div style="line-height: 50px">
                                    <b>Trade Price:</b> RM<span id="detail-tp"></span><br>
                                    <b>Retail Price:</b> RM<span id="detail-rp"></span><br>
                                    <b>Quantity:</b> <span id="detail-quantity"></span> in stock<br>
                                    <b>Publication Date:</b> <span id="detail-date"></span><br>
                                    <b>ISBN:</b> <span id="detail-isbn"></span><br>
                                    <b>Description:</b> <span id="detail-des"></span><br>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row right">
                <div class = "col-sm-12  ">
                    <button type="button" class="btn btn-primary" onclick="back()">Back</button>
                </div>
            </div>
        </div>-->

    </div>
</main>
<!-- local script -->

<script type="text/javaScript" src="/302cem-group7-project/public/javascript/stock_script.js"></script>
